@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  background: transparent;
  color: inherit;
}

/* dragging */
.draggable {
  cursor: grab;
  cursor: -webkit-grab;
}

body.dragging .lv-canvas,
body.dragging .draggable,
.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
